table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid black;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

th{
    background-color: #f2f2f2;
}

td select {
            display: block;
            margin: 0 auto;
        }

td {
    border: 1px solid black;
    padding: 3px;
}

.encasulado {
    background-color: #f9f9f9;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    min-height: 500px;
    margin: 0 auto;

}

.guardado {
    border: 1px solid black;
    float: right;
   margin-top: 15px;
   margin-right: 20px;
   width: 75px;
  height: 25px;
  background-color: #bfbfbf;
  color: #000000;

}
