
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 35px;
    background-color: #0B3A4D;
}

h1 {
      text-align: center;
    }

    form {
      max-width: 500px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
    }

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }

input[type="submit"] {
   background-color: #4caf50;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}

.submit-button-container {
  text-align: center;
  margin-top: 20px;
}

    input[type="submit"]:hover {
      background-color: #45a049;
    }


/* Menu*/
.menu {
  position: absolute;
  top: 15px;
  right: 60px;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon span {
  width: 30px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

/*Estilo de la palabra Menu*/
.menu-toggle-text {
  margin-top: 5px;
  text-align: center;
  color: white;
}

.menu-items {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  list-style: none;
  padding: 50px; /* Agregamos un espaciado interno al menú desplegable */
  margin-top: 10px; /* Agregamos un espaciado entre el borde y el menú desplegable */
  display: none;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-items li {
  padding: 10px 0; /* Ajustamos el espaciado vertical de los elementos */
  white-space: nowrap; /* Evita el salto de línea en el texto */
}

.menu-items li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease; /* Agregamos transición de color */
}

.menu-items li a:hover {
  color:  #ccc;; /* Cambiamos el color al pasar el mouse */
  background-color: #333; /* Agregamos un fondo oscuro */
}

/* Estilos para el botón de menú cerrado */
.menu-icon span:nth-child(1),
.menu-icon span:nth-child(3) {
  width: 30px; /* Establecemos el mismo ancho */
}

.menu-icon span:nth-child(2) {
  width: 30px; /* Establecemos el mismo ancho */
}

/* Mostrar el menú al hacer clic en el botón */
#menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 6px); /* Ajustamos la posición */
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -6px); /* Ajustamos la posición */
}

#menu-toggle:checked ~ .menu-items {
  display: block;
}

#message-error {
  text-align: center;
}
