<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Encabezado</title>
    <link rel="stylesheet" type="text/css"th:href="@{/css/style-header.css}" >
</head>
<body>
  <header>
    <div class="menu">
      <input type="checkbox" id="menu-toggle"  style="display: none;" />
      <label for="menu-toggle" class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
        <label class="menu-toggle-text">Menu</label>
      </label>
      <ul class="menu-items">
        <li th:if="${#request.isUserInRole('ADMINISTRADOR')}" > <a th:href="@{${formUserUrl}}" >Registrar usuario</a> </li>
        <li th:if="${#request.isUserInRole('ADMINISTRADOR') or #request.isUserInRole('SECRETARIA')}" > <a th:href="@{${formSearchStudentsUrl}}" >Buscar estudiantes</a> </li>
        <li th:if="${#request.isUserInRole('SECRETARIA')}" > <a th:href="@{${formEnvironmentsUrl}}" >Registrar ambiente</a> </li>
        <li th:if="${#request.isUserInRole('SECRETARIA')}" ><a th:href="@{${formStudent}}" >Registrar Estudiante</a></li>
        <li th:if="${#request.isUserInRole('DOCENTE')}" ><a th:href="@{${formCreateReport}}" >Inicio</a></li>
        <li><a th:href="@{${index}}" >Crear Reporte</a></li>
        <li>  <a th:href="@{/logout}" class="cerrar-sesion">Cerrar sesión</a> </li>
      </ul>
    </div>
  </header>
</body>
</html>